.fixed-navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
}

.custom-navbar {
  border-bottom: 1px solid #ebebeb !important;
  background: #fff !important;
  padding-top: 0;
}
.custom-navbar .navbar-toggler {
  background: none !important ;
  outline: none !important ;
  border: none !important ;
  box-shadow: none !important ;
  padding-inline-end: 0;
}
.custom-navbar .navbar-brand {
  width: 201px;
}
.custom-navbar .navbar-brand img {
  max-width: 100%;
  object-fit: scale-down;
}

@media (max-width: 991.98px) {
  .custom-navbar .navbar-brand {
    width: 150px;
  }
}
@media (max-width: 767.98px) {
  .custom-navbar .navbar-brand {
    width: 100px;
  }
}

.custom-navbar .navbar-nav {
  margin-top: 45px;
}
.custom-navbar .floating-nav {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  width: 100%;
  max-width: 660px;
  color: var(--white);
  border-radius: 24px;
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  padding: 6px 12px;
}
@media (max-width: 991.98px) {
  .custom-navbar .floating-nav {
    width: 100%;
    border-radius: 0;
    position: static;
    max-width: 100%;
  }
}
.custom-navbar .floating-nav .social-media .social-item a {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  transition: box-shadow 0.5s ease-in-out;
}
.custom-navbar .floating-nav .social-media .social-item a:hover {
  box-shadow: 0 0 5px 0 var(--mainLiteColor);
}
.custom-navbar .floating-nav .social-media .social-item a img {
  max-width: 100%;
  object-fit: scale-down;
}

.custom-navbar .floating-nav .icon {
  width: 14px;
  height: 14px;
}
.custom-navbar .floating-nav .icon img {
  max-width: 100%;
  object-fit: scale-down;
}
.custom-navbar .floating-nav .num {
  font-size: 12px;
  font-weight: 500;
  color: #fff !important;
  text-decoration: none !important;
}
.custom-navbar .get-start-btn {
  background-color: var(--mainColor) !important;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  min-width: 125px;
  height: 42px;
  border: 1px solid var(--mainColor);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-transform: uppercase;
  /* font-size: 14px; */
}

.custom-navbar .get-start-btn:hover {
  background-color: transparent !important;
  color: var(--mainColor) !important;
}
.custom-navbar .nav-item {
  display: flex;
  align-items: center;
}
.custom-navbar .nav-item .nav-link {
  color: var(--navLinkColor) !important;
  font-weight: 400;
}
.custom-navbar .nav-item .nav-link.active {
  color: var(--activeNavLinkColor) !important;
  font-weight: 600;
}
.custom-navbar .navbar-nav {
  gap: 16px;
}
